@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold text-black;
  }
  h2 {
    @apply text-2xl font-semibold text-gray-800;
  }
  h3 {
    @apply text-lg font-medium text-black;
  }
  h4 {
    @apply text-base font-medium text-black;
  }
  a {
    @apply text-blue-500 underline;
  }
  a:hover {
    @apply text-blue-700;
  }
  code {
	@apply font-mono rounded bg-slate-200 text-slate-800;
  }

  pre {
	@apply font-mono rounded bg-slate-200 text-sm text-slate-800 m-2 p-2 whitespace-pre overflow-x-auto;
  }

  p {
	@apply m-1
  }
  ol {
	@apply list-decimal list-inside
  }
  ul {
	@apply list-disc list-inside
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="search"],
  input[type="url"] {
        @apply
          /* 要素の性質 */
          /* block */
          /* テキストフィールドの外観 */
          border
          border-slate-400
          rounded-md
          shadow-sm

          /* パディング・マージンなど */
          my-1
          px-3
          py-2

          /* テキスト・BG カラー */
          text-sm
          bg-white
          placeholder-slate-400

          /* focus 時のスタイル指定 */
          focus:outline-none
          focus:border-sky-500
          focus:ring-1
          focus:ring-sky-500
          focus:shadow-inner
          focus:shadow-gray-200

          /* disabled 状態時のスタイル */
          disabled:bg-slate-50
          disabled:text-slate-600
          disabled:border-slate-200
          disabled:shadow-none

          /* invalid 状態時のスタイル */
          invalid:border-pink-500
          invalid:text-pink-600
          focus:invalid:border-pink-500
          focus:invalid:ring-pink-500
          ;

        border-color: #ccc; /* カスタムの値も追加可能 */
        background-color: #f9f9f9; /* 背景色のカスタマイズ */
    }

    button {
      @apply 
        border
        px-5
		  	py-2
        text-sm
        rounded-lg
        ;
    }
}

@layer components {
  .visible-div {
    @apply my-4 border-solid border border-black bg-slate-50;
  }
  .visible-div2 {
	 @apply border-solid border border-pink-400 bg-pink-100;
  }
  .visible-div3 {
	 @apply border-solid border border-green-400 bg-green-100;
  }
}
