@import '../tailwind.min.src.css';

@layer components {
	/* カレント・非カレント navbar アイテム共通設定
		- a href 向けに設定されたスタイルを打ち消す or 上書きする
		- ボックス表示にする
		- ベースのカラーリング設定をする
	*/
	.navbar-item-base {
		@apply
			border
			border-gray-300
			px-3
			py-1
			text-base
			text-gray-900
			no-underline
			bg-gray-100
			active:text-gray-900
			active:font-medium
			active:bg-white
			hover:text-gray-900
	}

	/* カレントページアイテムの縦・横共通ベース */
	.navbar-item-active-base {
		@apply navbar-item-base;
		@apply
			font-semibold
			bg-white
			cursor-default
	}

	/* 非カレントページアイテムの縦・横共通ベース */
	.navbar-item-inactive-base {
		@apply navbar-item-base;
		@apply
			hover:bg-gray-200
	}

	/* 横並び版「非」カレントアイテム*/
	.horizonal-navbar-inactive-item {
		@apply navbar-item-inactive-base;
		@apply
			text-center;
	}

	/* 横並び版カレントアイテム */
	.horizonal-navbar-active-item {
		@apply navbar-item-active-base;
		@apply
			text-center;
	}

	/* 縦並び版「非」カレントアイテム*/
	.vertival-navbar-inactive-item {
		@apply navbar-item-inactive-base;
		@apply
			text-start;
	}

	/* 縦並び版カレントアイテム*/
	.vertival-navbar-active-item {
		@apply navbar-item-active-base;
		@apply
			text-start;
	}
}